main{
  max-width: 60%;
  margin: -27px auto 5rem;
}

.createTask{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 4rem;
}

.createTask input {
  height: 54px;
  border-radius: 8px;
  border: 0;
  padding: 0 1rem;
  width: 100%;
  color: var(--gray-300);
  background-color: var(--gray-500);
}

.createTask button{
  background-color: var(--blue-600);
  color: var(--gray-100);
  border: 0;
  width: 90px;
  height: 54px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  padding: 7px;
  cursor: pointer;
}

.tasksInfo{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.tasksCreated,
.tasksCompleted{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tasksCreated span:first-of-type{
  color: var(--blue-300);
  font-weight: bold;
}

.tasksCompleted span:first-of-type{
  color: var(--purple-500);
  font-weight: bold;
}

.tasksCreated span:last-child,
.tasksCompleted span:last-child{
  background-color: var(--gray-400);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  width: 25px;
  height: 19px;
  border-radius: 100%;
  font-size: 12px;
}